<!DOCTYPE html>
<html lang="en">

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>404 Page</title>
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no">
  <meta name="description" content="Default Description">
  <meta name="keywords" content="fashion, store, E-commerce">
  <meta name="robots" content="*">
  <link rel="icon" href="#" type="image/x-icon">
  <link rel="shortcut icon" href="#" type="image/x-icon">
  <!-- CSS Style -->
  <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.css}" media="all"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/revslider.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/owl.carousel.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/owl.theme.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.bxslider.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.mobile-menu.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" media="all"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/responsive.css}" media="all"/>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700,800' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="initial-scale=1.0, width=device-width">

</head>

<body>
<div th:replace="fragments/header :: header_info"></div>

<div id="page">

<!-- Main Container -->

<div class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
       <div class="page-title"><h2>404 Page</h2></div>
        </div>
        <!--col-xs-12-->
      </div>
      <!--row-->
    </div>
    <!--container-->
  </div>

<section class="content-wrapper">
  <div class="container">
    <div class="std">
      <div class="page-not-found">
      <br>
        <div><img th:src="@{img/404-img.png}" alt="error image"></div>
        <h3>Oops! The Page you requested was not found!</h3>
        <div><a href="/" class="btn-home"><span>Back To Home</span></a></div>
      </div>
    </div>
  </div>
</section>
<!-- Main Container End --> 
 <div class="our-features-box wow bounceInUp animated animated">
    <div class="container">
      <ul>
        <li>
          <div class="feature-box free-shipping">
            <div class="icon-truck"></div>
            <div class="content">FREE SHIPPING on order over $99</div>
          </div>
        </li>
        <li>
          <div class="feature-box need-help">
            <div class="icon-support"></div>
            <div class="content">Need Help +1 800 123 1234</div>
          </div>
        </li>
        <li>
          <div class="feature-box money-back">
            <div class="icon-money"></div>
            <div class="content">Money Back Guarantee</div>
          </div>
        </li>
        <li class="last">
          <div class="feature-box return-policy">
            <div class="icon-return"></div>
            <div class="content">30 days return Service</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
  <div th:replace="fragments/footer :: footer_info"></div>
  <!-- JavaScript -->
  <script type="text/javascript" th:src="@{js/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>
  <script type="text/javascript" th:src="@{js/parallax.js}"></script>
  <script type="text/javascript" th:src="@{js/revslider.js}"></script>
  <script type="text/javascript" th:src="@{js/common.js}"></script>
  <script type="text/javascript" th:src="@{js/jquery.bxslider.min.js}"></script>
  <script type="text/javascript" th:src="@{js/owl.carousel.min.js}"></script>
  <script type="text/javascript" th:src="@{js/jquery.mobile-menu.min.js}"></script>


</body>
</html>
