<!DOCTYPE html>
<html lang="en">

<!DOCTYPE html>
<link rel="stylesheet" href="../static/css/style.css">
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Cart Page</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no">
    <meta name="description" content="Default Description">
    <meta name="keywords" content="fashion, store, E-commerce">
    <meta name="robots" content="*">
    <link rel="icon" href="#" type="image/x-icon">
    <link rel="shortcut icon" href="#" type="image/x-icon">
    <!-- CSS Style -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.css}" media="all"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/revslider.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/owl.carousel.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/owl.theme.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.bxslider.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.mobile-menu.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" media="all"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive.css}" media="all"/>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="initial-scale=1.0, width=device-width">

</head>

<body>
<div th:replace="fragments/header :: header_info"></div>

<div id="page">

    <div class="page-heading">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-title">
                        <h2>Shopping Cart</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- BEGIN Main Container -->

    <div class="container">

        <form action="/cart" method="post" novalidate="" class="cart">




            <div class="table-responsive">
                <table class="checkout table">
                    <thead>
                    <tr>
                        <th rowspan="1"></th>
                        <th rowspan="1"></th>
                        <th rowspan="1">PRODUCT NAME</th>
                        <th rowspan="1">PRICE</th>
                        <th rowspan="1">QTY</th>
                        <th rowspan="1">SUBTOTAL</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="cartProduct,iter : ${cartVM.getCartProductVMs()}">
                        <td class="text-center">
                            <a th:attr="data-id=${cartProduct.getId()}" class="cart-remove">
                                <i class="fa fa-times-circle"></i>
                            </a>
                        </td>

                        <td>
                            <a th:href="'/cartproduct/'+${cartProduct.getId()}" class="cart-image">
                                <img  th:src="${cartProduct.getMainImage()}" style="width:160px;height:160px;" >
                            </a>
                        </td>


                        <td>
                            <a th:href="'/cartproduct/'+${cartProduct.getId()}"  th:text="${cartProduct.getProductName()}" class="product-title">
                            </a>

                        </td>

                        <td th:text="${cartProduct.getPrice()}+'$'">
                        </td>
                        <td>
                            <input type="number" style="width: 50px"  class="form-control change-product-amount"  th:value="${cartProduct.getAmount()}" th:attr="data-id=${cartProduct.getId()}" >
                        </td>



                        <th:block th:unless="${cartProduct.getHasSale()}">
                            <td class="total-col">
                                <h4><span th:text="${cartProduct.getPrice()}"></span><span>  $</span>
                                    <button type="button" class="close" aria-label="Close">
                                        <span aria-hidden="true" class="delete-cart-product" th:attr="data-id=${cartProduct.getId()}">&times;</span>
                                    </button></h4></td>
                        </th:block>
                        <th:block th:if="${cartProduct.getHasSale()}">
                            <td class="total-col"><h4><span th:text="${cartProduct.getPriceSale()}"></span><span>  $</span><button type="button" class="close" aria-label="Close">
                                <span aria-hidden="true" class="delete-cart-product" th:attr="data-id=${cartProduct.getId()}">&times;</span>
                            </button></h4>
                            </td>
                        </th:block>

                    </tr>

                    </tbody>

                </table>
            </div>



            <div class="cart-info">
                <div class="row">
                    <div class="col-md-6">



                        <div class="add-note">
                            <div class="note-content ">
                                <h4>SPECIAL INSTRUCTIONS FOR SELLER</h4>
                                <textarea rows="8" name="note" class="input-full" id="CartSpecialInstructions"></textarea>
                            </div>

                            <button type="button" class="btn btn-sm ">
                                Add notes
                            </button>
                        </div>

                    </div>
                    <div class="col-md-6">

                        <div class="cart-total">
                            <h4>SHOPPING CART TOTAL</h4>
                            <span class="cart-subtotal-title">Total orders</span>
                            <span class="cart-subtotal" th:text="${cartVM.getTotalPrice()}+'$'"></span>


                            <p class="shipping">Transport &amp; Tax charged upon payment</p>
                            <input type="submit" name="update" class="btn btn-sm btn-secondary update-cart" value="Update cart">
                            <input type="button" onclick="window.location.href='/checkout'" name="checkout" class="btn btn-sm btn-primary"  href="/order/checkout" value="Pay now">


                        </div>
                    </div>
                </div>

            </div>

        </form>


    </div>

    <div class="our-features-box wow bounceInUp animated animated">
        <div class="container">
            <ul>
                <li>
                    <div class="feature-box free-shipping">
                        <div class="icon-truck"></div>
                        <div class="content">FREE SHIPPING on order over $99</div>
                    </div>
                </li>
                <li>
                    <div class="feature-box need-help">
                        <div class="icon-support"></div>
                        <div class="content">Need Help +1 800 123 1234</div>
                    </div>
                </li>
                <li>
                    <div class="feature-box money-back">
                        <div class="icon-money"></div>
                        <div class="content">Money Back Guarantee</div>
                    </div>
                </li>
                <li class="last">
                    <div class="feature-box return-policy">
                        <div class="icon-return"></div>
                        <div class="content">30 days return Service</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer_info"></div>
<!-- JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.9.0/sweetalert2.all.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.js"></script>
<!--basic-->
<script type="text/javascript" th:src="@{js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{js/parallax.js}"></script>
<script type="text/javascript" th:src="@{js/revslider.js}"></script>
<script type="text/javascript" th:src="@{js/common.js}"></script>
<script type="text/javascript" th:src="@{js/jquery.bxslider.min.js}"></script>
<script type="text/javascript" th:src="@{js/owl.carousel.min.js}"></script>
<script type="text/javascript" th:src="@{js/jquery.mobile-menu.min.js}"></script>
<script type="text/javascript" th:src="@{js/cart.js}"></script>
<script type="text/javascript" th:src="@{js/homme.js}"></script>


</body>
</html>
