<!DOCTYPE html>
<html lang="en">

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Flavours Check-out Page</title>
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no">
  <meta name="description" content="Default Description">
  <meta name="keywords" content="fashion, store, E-commerce">
  <meta name="robots" content="*">
  <link rel="icon" href="#" type="image/x-icon">
  <link rel="shortcut icon" href="#" type="image/x-icon">
  <!-- CSS Style -->
  <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.css}" media="all"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/revslider.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/owl.carousel.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/owl.theme.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.bxslider.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.mobile-menu.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" media="all"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/responsive.css}" media="all"/>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700,800' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="initial-scale=1.0, width=device-width">

</head>

<body>
<div th:replace="fragments/header :: header_info"></div>


<div class="page-heading">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="page-title">
          <h2>CheckOut</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page info end -->

<section class="checkout-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 order-2 order-lg-1">
        <form class="checkout-form" th:action="@{/order/checkout}" method="post" th:object="${order}">
          <div class="row address-inputs">
            <div class="col-md-12">
              <input type="text" placeholder="Address" th:field="*{address}">
              <input type="text" placeholder="CustomerName" th:field="*{customerName}">
              <input type="text" placeholder="Email" th:field="*{email}">
              <input type="text" placeholder="PhoneNumber"  th:field="*{phoneNumber}">
            </div>
          </div>
          <!--						<div class="cf-title">Delievery Info</div>
                                  <div class="row shipping-btns">
                                      <div class="col-6">
                                          <h4>Standard</h4>
                                      </div>
                                      <div class="col-6">
                                          <div class="cf-radio-btns">
                                              <div class="cfr-item">
                                                  <input type="radio" name="shipping" id="ship-1">
                                                  <label for="ship-1">Free</label>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="col-6">
                                          <h4>Next day delievery  </h4>
                                      </div>
                                      <div class="col-6">
                                          <div class="cf-radio-btns">
                                              <div class="cfr-item">
                                                  <input type="radio" name="shipping" id="ship-2">
                                                  <label for="ship-2">$3.45</label>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="cf-title">Payment</div>
                                  <ul class="payment-list">
                                      <li>Paypal<a href="#"><img src="img/paypal.png" alt=""></a></li>
                                      <li>Credit / Debit card<a href="#"><img src="img/mastercart.png" alt=""></a></li>
                                      <li>Pay when you get the package</li>
                                  </ul>-->
          <button class="site-btn submit-order-btn"  type="submit">Order</button>
        </form>
      </div>
      <div class="col-lg-4 order-1 order-lg-2">
        <div class="checkout-cart">
          <h3>My Cart</h3>
          <ul class="product-list" th:each="cartProduct: ${cartVM.getCartProductVMs()}">
            <li>
              <div class="pl-thumb"><img th:src="${cartProduct.getMainImage()}" alt=""></div>
              <h6 th:text="${cartProduct.getProductName()}"></h6>
              <div class="pi-text" th:unless="${cartProduct.getHasSale()}">
                <p><span th:text="${cartProduct.getPriceProduct()}"></span><span>  $</span></p>
              </div>
              <div class="pi-text" th:if="${cartProduct.getHasSale()}">
                <strike><p><span th:text="${cartProduct.getPriceProduct()}"></span><span>  $</span></p></strike>
                <p><span style="color: red" th:text="${cartProduct.getPriceSaleProduct()}"></span><span>  $</span></p>
              </div>
            </li>
          </ul>
          <ul class="price-list">
            <li>Total Price</li>
            <li><span th:text="${cartVM.getTotalPrice()}"></span><span>  $</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<form method="post" action="#" id="printJS-form">
  ...
</form>

<button type="button" onclick="printJS('printJS-form', 'html')">
  Print Form
</button>
</button>

<!-- checkout section end -->




  <div class="our-features-box wow bounceInUp animated animated">
    <div class="container">
      <ul>
        <li>
          <div class="feature-box free-shipping">
            <div class="icon-truck"></div>
            <div class="content">FREE SHIPPING on order over $99</div>
          </div>
        </li>
        <li>
          <div class="feature-box need-help">
            <div class="icon-support"></div>
            <div class="content">Need Help +1 800 123 1234</div>
          </div>
        </li>
        <li>
          <div class="feature-box money-back">
            <div class="icon-money"></div>
            <div class="content">Money Back Guarantee</div>
          </div>
        </li>
        <li class="last">
          <div class="feature-box return-policy">
            <div class="icon-return"></div>
            <div class="content">30 days return Service</div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div th:replace="fragments/footer :: footer_info"></div>
  <!-- JavaScript -->
<script type="text/javascript"
        src="https://ahachat.com/customer-chats/customer_chat_Cr6hUt8Yzl5ef8651df3f44.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.9.0/sweetalert2.all.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.js"></script>

<!--basic-->
  <script type="text/javascript" th:src="@{js/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>
  <script type="text/javascript" th:src="@{js/parallax.js}"></script>
  <script type="text/javascript" th:src="@{js/revslider.js}"></script>
  <script type="text/javascript" th:src="@{js/common.js}"></script>
  <script type="text/javascript" th:src="@{js/jquery.bxslider.min.js}"></script>
  <script type="text/javascript" th:src="@{js/owl.carousel.min.js}"></script>
  <script type="text/javascript" th:src="@{js/jquery.mobile-menu.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/home.js}"></script>
  <script type="text/javascript" th:src="@{/js/cart.js}"></script>
  <script type="text/javascript" th:src="@{/js/print.min.js}"></script>


</body>
</html>
