<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Flavours Home Page</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no">
    <meta name="description" content="Default Description">
    <meta name="keywords" content="fashion, store, E-commerce">
    <meta name="robots" content="*">
    <link rel="icon" href="#" type="image/x-icon">
    <link rel="shortcut icon" href="#" type="image/x-icon">
    <!-- CSS Style -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.css}" media="all"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/revslider.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/owl.carousel.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/owl.theme.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.bxslider.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.mobile-menu.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" media="all"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive.css}" media="all"/>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="initial-scale=1.0, width=device-width">

</head>

<body>
<div th:replace="fragments/header :: header_info"></div>






<!--container-->
<div class="content">
    <div id="thm-mart-slideshow" class="thm-mart-slideshow">
        <div class="container">
            <div id='thm_slider_wrapper' class='thm_slider_wrapper fullwidthbanner-container' >
                <div id='thm-rev-slider' class='rev_slider fullwidthabanner'>
                    <ul>
                        <li data-transition='random' data-slotamount='7' data-masterspeed='1000' data-thumb='img/slide-img1.jpg'><img src='img/slide-img2.jpg'  data-bgposition='left top'  data-bgfit='cover' data-bgrepeat='no-repeat' alt="slider-image1" />
                            <div class="info">
                                <div class='tp-caption ExtraLargeTitle sft  tp-resizeme ' data-x='0'  data-y='210'  data-endspeed='500'  data-speed='500' data-start='1100' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:2;max-width:auto;max-height:auto;white-space:nowrap;'><span>Get 50% off</span></div>
                                <div class='tp-caption LargeTitle sfl  tp-resizeme ' data-x='0'  data-y='300'  data-endspeed='500'  data-speed='500' data-start='1300' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:3;max-width:auto;max-height:auto;white-space:nowrap;'><span>Simply delicious</span></div>
                                <div class='tp-caption sfb  tp-resizeme ' data-x='0'  data-y='550'  data-endspeed='500'  data-speed='500' data-start='1500' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4;max-width:auto;max-height:auto;white-space:nowrap;'><a th:href="@{/grid}" class="buy-btn">Shop Now</a></div>
                                <div    class='tp-caption Title sft  tp-resizeme ' data-x='0'  data-y='420'  data-endspeed='500'  data-speed='500' data-start='1500' data-easing='Power2.easeInOut' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4;max-width:auto;max-height:auto;white-space:nowrap;'>Little things make a big difference</div>
                            </div>
                        </li>
                        <li data-transition='random' data-slotamount='7' data-masterspeed='1000' data-thumb='img/slide-img2.jpg'><img src='img/slide-img1.jpg'  data-bgposition='left top'  data-bgfit='cover' data-bgrepeat='no-repeat' alt="slider-image2"  />
                            <div class="info">
                                <div class='tp-caption ExtraLargeTitle sft  tp-resizeme ' data-x='0'  data-y='210'  data-endspeed='500'  data-speed='500' data-start='1100' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:2;max-width:auto;max-height:auto;white-space:nowrap;'><span>Fresh Look</span></div>
                                <div class='tp-caption LargeTitle sfl  tp-resizeme ' data-x='0'  data-y='300'  data-endspeed='500'  data-speed='500' data-start='1300' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:3;max-width:auto;max-height:auto;white-space:nowrap;'><span>100% Refreshing</span></div>
                                <div class='tp-caption sfb  tp-resizeme ' data-x='0'  data-y='550'  data-endspeed='500'  data-speed='500' data-start='1500' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4;max-width:auto;max-height:auto;white-space:nowrap;'><a th:href="@{/grid}" class="buy-btn">Shop Now</a></div>
                                <div    class='tp-caption Title sft  tp-resizeme ' data-x='0'  data-y='420'  data-endspeed='500'  data-speed='500' data-start='1500' data-easing='Power2.easeInOut' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4;max-width:auto;max-height:auto;white-space:nowrap;'>Farm Fresh Produce Right to Your Door</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>




    <div id="top">
        <div class="container">
            <div class="row">
                <ul>
                    <li>
                        <div>
                            <a href="#" data-scroll-goto="1">
                                <img th:src="@{/img/speakers.png}" alt="promotion-banner1">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="#" data-scroll-goto="2">
                                <img th:src="@{/img/schedule.png}"alt="promotion-banner2">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="#" data-scroll-goto="3">
                                <img th:src="@{/img/details.png}" alt="promotion-banner3">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="#" data-scroll-goto="4">
                                <img th:src="@{/img/sponsors.png}" alt="promotion-banner4">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="#" data-scroll-goto="5">
                                <img th:src="@{/img/team.png}" alt="promotion-banner5">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="http://themesground.com/register">
                                <img th:src="@{/img/register.png}" alt="promotion-banner6">
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>





    <!-- best Pro Slider -->
    <section class=" wow bounceInUp animated">
        <div class="best-pro slider-items-products container">
            <div class="new_title">
                <h2>Top Selling</h2>
            </div>
            <div class="cate-banner-img">
                <img src="img/category-banner.jpg" ></div>
            <div id="best-seller" class="product-flexslider hidden-buttons">
                <div class="slider-items slider-width-col4 products-grid">
                    <div class="item" th:each="product : ${vm.getProductTopSellingVMs()}" >
                        <div class="item-inner" th:href="${'/?productId='+product.getId()}">
                            <div class="item-img">
                                <div class="item-img-info">
                                    <a th:href="'/product/'+${product.getId()}" title="Retis lapen casen" class="product-image">
                                        <img th:src="${product.getMainImage()}" th:alt="${product.getName()} ">
                                    </a>
                                    <div class="new-label new-top-left"></div>
                                    <div class="item-box-hover">
                                        <div class="box-inner">
                                            <div class="actions"><span class="add-to-links"><a href="#" class="link-wishlist" title="Add to Wishlist"><span>Add to Wishlist</span></a>
                                                </span> </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item-info">
                                <div class="info-inner">
                                    <div class="item-title">
                                        <a th:href="'/product/'+${product.getId()}" th:text="${product.getName()} "></a> </div>
                                    <div class="item-content">
                                        <div class="rating">
                                            <div class="ratings">
                                                <div class="rating-box">
                                                    <div class="rating" style="width:80%"></div>
                                                </div>
                                                <p class="rating-links"><a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                                            </div>
                                        </div>
                                        <div class="item-price">
                                            <div class="price-box" >
                                <span class="regular-price" th:unless="${product.getHasSale()}">
                                 <span class="price"  th:text="${product.getPrice() + ' $'}"></span> </span>
                                            </div>
                                            <div class="pi-text" th:if="${product.getHasSale()}">
                                                <strike><span th:text="${product.getPrice()}"></span><span>  $</span>
                                                </strike>
                                                <span style="color: red"
                                                      th:text="${product.getPriceSale()}"></span><span>  $</span>
                                            </div>

                                        </div>



                                    </div>
                                        <div class="add_cart">
                                            <button class="button btn-cart add-to-cart" type="button"  th:attr="data-product=${product.getId()}"><span>Add to Cart</span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>




                </div>
            </div>
        </div>
    </section>



    <!-- Home Lastest Blog Block -->
    <div class="latest-blog wow bounceInUp animated animated container">
        <!--exclude For version 6 -->
        <div class="new_title">
            <h2>Latest Blog</h2>
        </div>
        <!--blog-title-->
        <!--For version 1,2,3,4,5,6,8 -->
        <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4 blog-post">
            <div class="blog_inner">
                <div class="blog-img"> <a href="blog-detail.html"> <img src="img/blog-img1.jpg" alt="blog image"> </a>
                    <div class="mask"> <a class="info" href="blog-detail.html">Read More</a> </div>
                </div>
                <!--blog-img-->
                <div class="blog-info">
                    <div class="post-date">
                        <time class="entry-date" datetime="2015-05-11T11:07:27+00:00">14 <br> April</time>
                    </div>
                    <h3><a href="blog-detail.html">Lorem ipsum dolor sit amet, consectetur adipiscing</a></h3>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada ...</p>
                    <a class="readmore" href="blog-detail.html">Read More</a> </div>
            </div>
            <!--blog_inner-->
        </div>
        <!--col-lg-4 col-md-4 col-xs-12 col-sm-4-->
        <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4 blog-post">
            <div class="blog_inner">
                <div class="blog-img"> <a href="blog-detail.html"> <img src="img/blog-img2.jpg" alt="blog image"> </a>
                    <div class="mask"> <a class="info" href="blog-detail.html">Read More</a> </div>
                </div>
                <!--blog-img-->
                <div class="blog-info">
                    <div class="post-date">
                        <time class="entry-date" datetime="2015-05-11T11:07:27+00:00">14 <br> April</time>
                    </div>
                    <h3><a href="blog-detail.html">Lorem ipsum dolor sit amet, consectetur adipiscing</a></h3>

                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada ...</p>
                    <a class="readmore" href="blog-detail.html">Read More</a> </div>
            </div>
            <!--blog_inner-->
        </div>

        <!--col-lg-4 col-md-4 col-xs-12 col-sm-4-->
        <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4 blog-post">
            <div class="blog_inner">
                <div class="blog-img"> <a href="blog-detail.html"> <img src="img/blog-img3.jpg" alt="blog image"> </a>
                    <div class="mask"> <a class="info" href="blog-detail.html">Read More</a> </div>
                </div>
                <!--blog-img-->
                <div class="blog-info">
                    <div class="post-date">
                        <time class="entry-date" datetime="2015-05-11T11:07:27+00:00">14 <br> April</time>
                    </div>
                    <h3><a href="blog-detail.html">Lorem ipsum dolor sit amet, consectetur adipiscing</a></h3>

                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada ...</p>
                    <a class="readmore" href="blog-detail.html">Read More</a> </div>
            </div>
            <!--blog_inner-->
        </div>
        <!--col-lg-4 col-md-4 col-xs-12 col-sm-4-->

        <!--END For version 1,2,3,4,5,6,8 -->
        <!--exclude For version 6 -->
        <!--container-->
    </div>

    <!-- Logo Brand Block -->
<!--    <div class="brand-logo wow bounceInUp animated">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="logo-brand col-lg-6 col-md-6 col-sm-6 col-xs-12">-->
<!--                    <div class="new_title">-->
<!--                        <h2>Brand Logo</h2>-->
<!--                    </div>-->
<!--                    <div class="slider-items-products">-->
<!--                        <div id="brand-slider" class="product-flexslider hidden-buttons">-->
<!--                            <div class="slider-items slider-width-col6">-->
<!--                                &lt;!&ndash; Item &ndash;&gt;-->
<!--                                <div class="item">-->
<!--                                    <div class="logo-item"><a href="#"><img src="img/b-logo7.png" alt="Image"></a></div>-->
<!--                                    <div class="logo-item"><a href="#"><img src="img/b-logo2.png" alt="Image"></a></div>-->
<!--                                </div>-->
<!--                                &lt;!&ndash; End Item &ndash;&gt;-->
<!--                                &lt;!&ndash; Item &ndash;&gt;-->
<!--                                <div class="item">-->
<!--                                    <div class="logo-item"><a href="#"><img src="img/b-logo1.png" alt="Image"></a></div>-->
<!--                                    <div class="logo-item"><a href="#"><img src="img/b-logo4.png" alt="Image"></a></div>-->
<!--                                </div>-->
<!--                                &lt;!&ndash; End Item &ndash;&gt;-->
<!--                                &lt;!&ndash; Item &ndash;&gt;-->
<!--                                <div class="item">-->
<!--                                    <div class="logo-item"><a href="#"><img src="img/b-logo5.png" alt="Image"></a></div>-->
<!--                                    <div class="logo-item"><a href="#"><img src="img/b-logo6.png" alt="Image"></a></div>-->
<!--                                </div>-->
<!--                                &lt;!&ndash; End Item &ndash;&gt;-->
<!--                                &lt;!&ndash; Item &ndash;&gt;-->
<!--                                <div class="item">-->
<!--                                    <div class="logo-item"><a href="#"><img src="img/b-logo3.png" alt="Image"></a></div>-->
<!--                                    <div class="logo-item"><a href="#"><img src="img/b-logo2.png" alt="Image"></a></div>-->
<!--                                </div>-->
<!--                                &lt;!&ndash; End Item &ndash;&gt;-->
<!--                                &lt;!&ndash; Item &ndash;&gt;-->
<!--                                <div class="item">-->
<!--                                    <div class="logo-item"><a href="#"><img src="img/b-logo1.png" alt="Image"></a></div>-->
<!--                                    <div class="logo-item"><a href="#"><img src="img/b-logo4.png" alt="Image"></a></div>-->
<!--                                </div>-->
<!--                                &lt;!&ndash; End Item &ndash;&gt;-->
<!--                                &lt;!&ndash; Item &ndash;&gt;-->
<!--                                <div class="item">-->
<!--                                    <div class="logo-item"><a href="#"><img src="img/b-logo5.png" alt="Image"></a></div>-->
<!--                                    <div class="logo-item"><a href="#"><img src="img/b-logo6.png" alt="Image"></a></div>-->
<!--                                </div>-->
<!--                                &lt;!&ndash; End Item &ndash;&gt;-->

<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 testimonials-section">-->
<!--                    <div class="offer-slider parallax parallax-2">-->
<!--                        <ul class="bxslider">-->
<!--                            <li>-->
<!--                                <div class="avatar"><img src="img/photo.jpg" alt="Image"></div>-->
<!--                                <div class="testimonials">"Vtae sodales aliq uam morbi non sem lacus port mollis. Nunc condime tum metus eud molest sed consectetuer."</div>-->
<!--                                <div class="clients_author">    Smith John  <span>Happy Customer</span> </div>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <div class="avatar"><img src="img/photo1.jpg" alt="Image"></div>-->
<!--                                <div class="testimonials">"Vtae sodales aliq uam morbi non sem lacus port mollis. Nunc condime tum metus eud molest sed consectetuer."</div>-->
<!--                                <div class="clients_author">    Karla Anderson  <span>Happy Customer</span> </div>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <div class="avatar"><img src="img/photo.jpg" alt="Image"></div>-->
<!--                                <div class="testimonials">"Vtae sodales aliq uam morbi non sem lacus port mollis. Nunc condime tum metus eud molest sed consectetuer."</div>-->
<!--                                <div class="clients_author">    Smith John  <span>Happy Customer</span> </div>-->
<!--                            </li>-->

<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<div class="our-features-box wow bounceInUp animated animated">
    <div class="container">
        <ul>
            <li>
                <div class="feature-box free-shipping">
                    <div class="icon-truck"></div>
                    <div class="content">FREE SHIPPING on order over $99</div>
                </div>
            </li>
            <li>
                <div class="feature-box need-help">
                    <div class="icon-support"></div>
                    <div class="content">Need Help +1 800 123 1234</div>
                </div>
            </li>
            <li>
                <div class="feature-box money-back">
                    <div class="icon-money"></div>
                    <div class="content">Money Back Guarantee</div>
                </div>
            </li>
            <li class="last">
                <div class="feature-box return-policy">
                    <div class="icon-return"></div>
                    <div class="content">30 days return Service</div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- For version 1,2,3,4,6 -->


</div>
</div>


<!--        <div id="fade" style="display: block;"></div>-->
<div th:replace="fragments/footer :: footer_info"></div>
<!-- JavaScript -->
<script type="text/javascript" th:src="@{js/jquery.min.js}"></script>
<!--jquery để trên cùng-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.9.0/sweetalert2.all.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.js"></script>
<!--basic-->


<script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{js/parallax.js}"></script>
<script type="text/javascript" th:src="@{js/revslider.js}"></script>
<script type="text/javascript" th:src="@{js/common.js}"></script>
<script type="text/javascript" th:src="@{js/jquery.bxslider.min.js}"></script>
<script type="text/javascript" th:src="@{js/owl.carousel.min.js}"></script>
<script type="text/javascript" th:src="@{js/jquery.mobile-menu.min.js}"></script>
<script type="text/javascript" th:src="@{js/home.js}"></script>

<script type="text/javascript">
    jQuery(document).ready(function(){
        jQuery('#thm-rev-slider').show().revolution({
            dottedOverlay: 'none',
            delay: 5000,
            startwidth: 0,
            startheight:900,

            hideThumbs: 200,
            thumbWidth: 200,
            thumbHeight: 50,
            thumbAmount: 2,

            navigationType: 'thumb',
            navigationArrows: 'solo',
            navigationStyle: 'round',

            touchenabled: 'on',
            onHoverStop: 'on',

            swipe_velocity: 0.7,
            swipe_min_touches: 1,
            swipe_max_touches: 1,
            drag_block_vertical: false,

            spinner: 'spinner0',
            keyboardNavigation: 'off',

            navigationHAlign: 'center',
            navigationVAlign: 'bottom',
            navigationHOffset: 0,
            navigationVOffset: 20,

            soloArrowLeftHalign: 'left',
            soloArrowLeftValign: 'center',
            soloArrowLeftHOffset: 20,
            soloArrowLeftVOffset: 0,

            soloArrowRightHalign: 'right',
            soloArrowRightValign: 'center',
            soloArrowRightHOffset: 20,
            soloArrowRightVOffset: 0,

            shadow: 0,
            fullWidth: 'on',
            fullScreen: 'on',

            stopLoop: 'off',
            stopAfterLoops: -1,
            stopAtSlide: -1,

            shuffle: 'off',

            autoHeight: 'on',
            forceFullWidth: 'off',
            fullScreenAlignForce: 'off',
            minFullScreenHeight: 0,
            hideNavDelayOnMobile: 1500,

            hideThumbsOnMobile: 'off',
            hideBulletsOnMobile: 'off',
            hideArrowsOnMobile: 'off',
            hideThumbsUnderResolution: 0,

            hideSliderAtLimit: 0,
            hideCaptionAtLimit: 0,
            hideAllCaptionAtLilmit: 0,
            startWithSlide: 0,
            fullScreenOffsetContainer: ''
        });
    });
</script>
<script type="text/javascript">
    function HideMe()
    {
        jQuery('.popup1').hide();
        jQuery('#fade').hide();
    }
</script>




</body>

</html>
