<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Flavours Product-Detail Page</title>
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no">
  <meta name="description" content="Default Description">
  <meta name="keywords" content="fashion, store, E-commerce">
  <meta name="robots" content="*">
  <link rel="icon" href="#" type="image/x-icon">
  <link rel="shortcut icon" href="#" type="image/x-icon">
  <!-- CSS Style -->
  <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.css}" media="all"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/revslider.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/owl.carousel.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/owl.theme.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.bxslider.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.mobile-menu.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" media="all"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/responsive.css}" media="all"/>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700,800' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="initial-scale=1.0, width=device-width">

</head>

<body>
<div th:replace="fragments/header :: header_info"></div>


<div id="page">



  <div class="page-heading">
    <div class="breadcrumbs">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <ul>
              <li class="home"> <a th:href="@{/}" title="Go to Home Page">Home</a> <span>—› </span> </li>
              <li class="category1599"> <a href="/grid/" title="">Salad</a> <span>—› </span> </li>
              <li class="category1600"> <a href="/grid/" title="">Bread Salad</a> <span>—› </span> </li>
              <li class="category1601"> <strong>Dakos</strong> </li>
            </ul>
          </div>
          <!--col-xs-12-->
        </div>
        <!--row-->
      </div>
      <!--container-->
    </div>
    <div class="page-title" th:text="${vm.getProductVM().getName()}" >
      <h2></h2>
    </div>
  </div>


  <div class="main-container col1-layout wow bounceInUp animated">
    <div class="main">
      <div class="col-main">
        <!-- Endif Next Previous Product -->
        <div class="product-view wow bounceInUp animated" itemscope="" itemtype="http://schema.org/Product" itemid="#product_base">
          <div id="messages_product_view"></div>
          <!--product-next-prev-->
          <div class="product-essential container">
            <div class="row">

              <form action="#" method="post" id="product_addtocart_form">
                <!--End For version 1, 2, 6 -->
                <!-- For version 3 -->
                <div class="product-img-box col-sm-6 col-xs-12">
                  <div class="new-label new-top-left"> New </div>
                  <div class="product-image">
                    <div class="large-image" >
                      <a  class="cloud-zoom" id="zoom1" rel="useWrapper: false, adjustY:0, adjustX:20">
                        <img th:src="${vm.productVM.getMainImage()}" > </a> </div>



                    <div class="flexslider flexslider-thumb"   th:each="productImg,iter:${vm.getProductVM().getProductImageVMs()}">
                      <ul class="previews-list slides" th:if="${iter.index == 0}"
                          th:attr="data-imgbigurl=${productImg.getLink()}">
                        <li><a   class='cloud-zoom-gallery' rel="useZoom: 'zoom1'  ">
                          <img th:src="${productImg.getLink()}" alt = "Thumbnail 1"/></a></li>

                      </ul>
                    </div>
                  </div>
                  <!-- end: more-images -->
                </div>
                <!--End For version 1,2,6-->

                <div class="product-shop col-sm-6 col-xs-12"  >

                  <div class="product-name">
                    <h1 itemprop="name" th:text="${vm.getProductVM().getName()}" ></h1>
                  </div>
                  <!--product-name-->
                  <span itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
                  <div class="rating">
                    <div class="ratings">
                      <div class="rating-box">
                        <div class="rating" style="width:50%"></div>
                      </div>
                      <p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span>  <a href="#">Add Review</a> </p>
                    </div>
                  </div>
                  </span>
                  <div class="price-block">
                    <div class="price-box"> <span class="regular-price" >
                      <span class="price"   th:text="${product.getPrice() + ' $'}"></span>     </span>
                      <div class="pi-text" th:if="${product.getHasSale()}">
                        <strike><span th:text="${product.getPrice()}"></span><span>  $</span>
                        </strike>
                        <span style="color: red"
                              th:text="${product.getPriceSale()}"></span><span>  $</span>
                      </div>

                    </div>
                    <p class="availability in-stock">
                      <link itemprop="availability" href="http://schema.org/InStock">
                      <th:block th:if="${vm.productVM.getAmount() ==0}">
                        <span> Out of stock</span>
                      </th:block>
                      <th:block th:unless="${vm.productVM.getAmount()>0}">
                        <span> In stock</span>
                      </th:block>
                       </p>
                  </div>
                  <!--price-block-->
                  <div class="short-description">
                    <h2>Quick Overview</h2>
                    <p th:text="${vm.getProductVM().getShortDesc()}"></p>
                  </div>
                  <div class="add-to-box">
                    <div class="add-to-cart">
                      <div class="pull-left">
                        <div class="custom pull-left">
                          <button onClick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN( qty )) result.value++;return false;" class="increase items-count" type="button"><i class="icon-plus">&nbsp;</i></button>

                          <input type="text" name="qty" id="qty" maxlength="12" value="1" title="Quantity:" class="input-text qty">

                          <button onClick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 0 ) result.value--;return false;" class="reduced items-count" type="button"><i class="icon-minus">&nbsp;</i></button>
                        </div>
                        <!--custom pull-left-->
                      </div>
                      <!--pull-left-->
                      <button type="button" class="button btn-cart add-to-cart" th:attr="data-product=${vm.getProductVM().getId()}" >
                        <span>
                        <i class="icon-basket "></i>Add to Cart</span></button>
                    </div>
                    <!--add-to-cart-->
                    <div class="email-addto-box">
                      <p class="email-friend"> <a href="#" title="Email to a Friend"><span>Email to a Friend</span></a></p>
                      <ul class="add-to-links">
                        <li> <a class="link-wishlist" th:href="@{/wishlis}" onClick="" title="Add To Wishlist">
                          <span>Add To Wishlist</span></a> </li>

                      </ul>
                      <!--add-to-links-->
                    </div>
                    <!--email-addto-box-->
                  </div>
                  <!--add-to-box-->
                  <!-- thm-mart Social Share-->
                  <div class="social">
                    <ul class="link">
                      <li class="fb"> <a href="http://www.facebook.com/" rel="nofollow" target="_blank" style="text-decoration:none;"> </a> </li>
                      <li class="linkedin"> <a href="http://www.linkedin.com" rel="nofollow" target="_blank" style="text-decoration:none;"> </a> </li>
                      <li class="tw"> <a href="http://twitter.com/}" rel="nofollow" target="_blank" style="text-decoration:none;"> </a> </li>
                      <li class="pintrest"> <a href="http://pinterest.com" rel="nofollow" target="_blank" style="text-decoration:none;"> </a> </li>
                      <li class="googleplus"> <a href="https://plus.google.com" rel="nofollow" target="_blank" style="text-decoration:none;"> </a> </li>
                    </ul>
                  </div>
                  <!-- thm-mart Social Share Close-->
                </div>
                <!--product-shop-->
                <!--Detail page static block for version 3-->
              </form>
            </div>
          </div>







          <div class="box-additional">
            <!-- BEGIN RELATED PRODUCTS -->
            <div class="related-pro container">
              <div class="slider-items-products">
                <div class="new_title center">
                  <h2>Related Products</h2>
                </div>
                <div id="related-slider" class="product-flexslider hidden-buttons">
                  <div class="slider-items slider-width-col4 products-grid owl-carousel owl-theme" style="opacity: 1; display: block;">
                    <div class="owl-wrapper-outer">
                      <div class="owl-wrapper" style="width: 2928px; left: 0px; display: block; transition: all 0ms ease 0s; transform: translate3d(0px, 0px, 0px);">
                        <div class="owl-item" style="width: 244px;" th:each="product:${vm.getProductVMs()}">
                      <div class="item" >
                        <div class="item-inner"  th:href="${'/product/'+product.getId()}">
                          <div class="item-img">
                          <div class="item-img-info">
                            <a th:href="'/product/'+${product.getId()}" title="Retis lapen casen" class="product-image">
                              <img th:src="${product.getMainImage()}" th:alt="${product.getName()} ">
                            </a>
                            <div class="new-label new-top-left"  th:if="${product.getHasSale()}">Sale</div>
<!--                            <div class="new-label new-top-left"  >New</div>-->
                            <div class="item-box-hover">
                              <div class="box-inner">
                                <div class="product-detail-bnt"><a class="button detail-bnt" type="button"><span>Quick View</span></a></div>
                                <div class="actions"><span class="add-to-links"> <a href="#" class="link-wishlist" title="Add to Wishlist"><span>Add to Wishlist</span></a>  <a href="#" class="link-compare add_to_compare" title="Add to Compare"><span>Add to Compare</span></a></span> </div>

                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="item-info">
                          <div class="info-inner">
                            <div class="item-title">
                              <a th:href="'/product/'+${product.getId()}" th:text="${product.getName()} "></a> </div>
                            <div class="item-content">
                              <div class="rating">
                                <div class="ratings">
                                  <div class="rating-box">
                                    <div class="rating" style="width:80%"></div>
                                  </div>
                                  <p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span>  <a href="#">Add Review</a> </p>
                                </div>
                              </div>
                              <div class="item-price">
                                <div class="price-box" >
                                <span class="regular-price" th:unless="${product.getHasSale()}">
                                 <span class="price"  th:text="${product.getPrice() + ' $'}"></span> </span>
                                </div>
                                <div class="pi-text" th:if="${product.getHasSale()}">
                                  <strike><span th:text="${product.getPrice()}"></span><span>  $</span>
                                  </strike>
                                  <span style="color: red"
                                        th:text="${product.getPriceSale()}"></span><span>  $</span>
                                </div>

                              </div>
                              <div class="add_cart">
                                <button class="button btn-cart add-to-cart" type="button"  th:attr="data-product=${product.getId()}">
                                  <span>Add to Cart</span></button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>




                  </div>
                </div>
              </div>
            </div>
            <!-- end related product -->

          </div>
          <!-- end related product -->
        </div>
        <!--box-additional-->
        <!--product-view-->
      </div>
    </div>
    <!--col-main-->
  </div>
  <!--main-container-->
</div>
<!--col1-layout-->




<div class="our-features-box wow bounceInUp animated animated">
  <div class="container">
    <ul>
      <li>
        <div class="feature-box free-shipping">
          <div class="icon-truck"></div>
          <div class="content">FREE SHIPPING on order over $99</div>
        </div>
      </li>
      <li>
        <div class="feature-box need-help">
          <div class="icon-support"></div>
          <div class="content">Need Help +1 800 123 1234</div>
        </div>
      </li>
      <li>
        <div class="feature-box money-back">
          <div class="icon-money"></div>
          <div class="content">Money Back Guarantee</div>
        </div>
      </li>
      <li class="last">
        <div class="feature-box return-policy">
          <div class="icon-return"></div>
          <div class="content">30 days return Service</div>
        </div>
      </li>
    </ul>
  </div>
</div>


</div>

<div class="fb-comments" th:attr="data-href = ${'https://localhost/product/' + vm.getProductVM().getId()}"
     data-href="https://localhost/product" data-width="100%" data-numposts="5"></div>
</section>

<div th:replace="fragments/footer :: footer_info"></div>
<!-- JavaScript -->

<script type="text/javascript" src="https://ahachat.com/customer-chats/customer_chat_qbczk4pumF5f5e52d05afbe.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.9.0/sweetalert2.all.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.js"></script>
<!--basic-->
<script type="text/javascript" th:src="@{js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{js/parallax.js}"></script>
<script type="text/javascript" th:src="@{js/revslider.js}"></script>
<script type="text/javascript" th:src="@{js/common.js}"></script>
<script type="text/javascript" th:src="@{js/jquery.bxslider.min.js}"></script>
<script type="text/javascript" th:src="@{js/owl.carousel.min.js}"></script>
<script type="text/javascript" th:src="@{js/jquery.mobile-menu.min.js}"></script>
<script type="text/javascript" th:src="@{js/product-detail.js}"></script>


</body>
</html>
