<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Flavours User Detail</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no">
    <meta name="description" content="Default Description">
    <meta name="keywords" content="fashion, store, E-commerce">
    <meta name="robots" content="*">
    <link rel="icon" href="#" type="image/x-icon">
    <link rel="shortcut icon" href="#" type="image/x-icon">
    <!-- CSS Style -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.css}" media="all"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/revslider.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/owl.carousel.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/owl.theme.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.bxslider.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.mobile-menu.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/user-detail.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" media="all"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive.css}" media="all"/>


    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="initial-scale=1.0, width=device-width">

</head>

<body>
<div th:replace="fragments/header :: header_info"></div>


<div class="container">
    <div class="view-account">
        <section class="module">
            <div class="module-inner">
                <div class="side-bar">
                    <div class="user-info">
                        <img class="img-profile img-circle img-responsive center-block" th:src="${user.getAvatar()}" alt="" style="border-radius: 50%">
                        <ul class="meta list list-unstyled">
                            <li class="name" >
                                <a href="#" th:text="${user.getName()}"></a>
                            </li>
                            <li class="email"><a href="#" th:text="${user.getEmail()}"></a></li>
<!--
                            <li class="activity">Last logged in: Today at 2:18pm</li>
-->
                        </ul>
                    </div>
                    <nav class="side-menu">
                        <ul class="nav">
                            <li class="active"><a href="#"><span class="fa fa-user"></span> Profile</a></li><!--
                            <li><a href="#"><span class="fa fa-cog"></span> Settings</a></li>
                            <li><a href="#"><span class="fa fa-credit-card"></span> Billing</a></li>
                            <li><a href="#"><span class="fa fa-envelope"></span> Messages</a></li>

                            <li><a href="user-drive.html"><span class="fa fa-th"></span> Drive</a></li>
                            <li><a href="#"><span class="fa fa-clock-o"></span> Reminders</a></li>-->
                        </ul>
                    </nav>
                </div>
                <div class="content-panel">
                    <form class="form-horizontal" th:action="@{/user/update}" th:object="${user}" method="post" id="myForm">
                        <fieldset class="fieldset">
                            <h3 class="fieldset-title">User information</h3>
                            <div class="form-group avatar">
                                <figure class="figure col-md-2 col-sm-3 col-xs-12">
                                    <img class="img-rounded img-responsive" th:if="*{avatar}" th:src="*{avatar}" alt="">
                                    <img class="img-rounded img-responsive" th:unless="*{avatar}" src="https://iptc.org/wp-content/uploads/2018/05/avatar-anonymous-300x300.png" alt="">
                                </figure>
                                <div class="form-inline col-md-10 col-sm-9 col-xs-12">
                                    <input type="file" class="file-uploader pull-left" id="input-avatar">
                                    <input type="text" id="avatar" th:field="*{avatar}" style="display: none">
                                </div>
                            </div>

                            <div th:if="${param.updateSuccess}">
                                <div class="alert alert-primary">
                                    Update success !!
                                </div>
                            </div>

                            <div th:if="${param.updateFail}">
                                <div class="alert alert-danger">
                                    Update fail !!
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 col-sm-3 col-xs-12 control-label">User Name</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" id="name" th:field="*{name}" name="name" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 col-sm-3 col-xs-12 control-label">Gender</label>
                                <select th:field="*{gender}">
                                    <option value="0">Not determined</option>
                                    <option value="1">Male</option>
                                    <option value="2">Female</option>
                                </select>
                            </div>

                        </fieldset>
                        <fieldset class="fieldset">
                            <h3 class="fieldset-title">Contact info</h3>
                            <div class="form-group">
                                <label class="col-md-2  col-sm-3 col-xs-12 control-label">Email </label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <input type="email" class="form-control" id="email" th:field="*{email}" name="email" />
                                </div>  
                            </div>
                            <div class="form-group">
                                <label class="col-md-2  col-sm-3 col-xs-12 control-label">Address</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" id="name" th:field="*{address}" name="address" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2  col-sm-3 col-xs-12 control-label">Phone Number</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" id="name" th:field="*{phoneNumber}" name="phoneNumber" />
                                </div>
                            </div>

                        </fieldset>
                        <hr>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <button class="btn btn-primary" type="submit">Update</button>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <a class="btn btn-success" th:href="@{'/user/change-password'}" role="button">Change password</a>
                                </div>
                            </div>

                        </div>          
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>




<div th:replace="fragments/footer :: footer_info"></div>
<!-- JavaScript -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.9.0/sweetalert2.all.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.js"></script>
<!--basic-->
<script type="text/javascript" th:src="@{js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{js/parallax.js}"></script>
<script type="text/javascript" th:src="@{js/revslider.js}"></script>
<script type="text/javascript" th:src="@{js/common.js}"></script>
<script type="text/javascript" th:src="@{js/jquery.bxslider.min.js}"></script>
<script type="text/javascript" th:src="@{js/owl.carousel.min.js}"></script>
<script type="text/javascript" th:src="@{js/jquery.mobile-menu.min.js}"></script>
<script type="text/javascript" th:src="@{js/user-detail.js}"></script>
<script type="text/javascript" th:src="@{js/home.js}"></script>


</body>
</html>
